$background-color: #323232;
$text-color1: white;
$text-color2: #323232;

@font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'AvenirBold';
    src: url("../fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf") format("opentype");
}

@mixin font-style($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

@mixin image-style($width) {
    width: $width;
}


* {
    margin: 0;
    font-family: 'Avenir';
}

.main-header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $background-color;
    color: $text-color1;
    height: 5rem;

    a{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    &__logo {
        height: 75%;
        width: 100%;
    }

    .nav-bar {

        width: 100%;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            list-style-type: none;
            padding-left: 0;
            color: $text-color1;
            

            li {
                @include font-style(0.8rem, 1.2rem);
                color: $text-color1;
                width: 100%;
                text-align: center;
                padding-bottom: 0.7rem;
                border-bottom: 4px solid $text-color2;
            }

            li:hover {
                border-bottom: 4px solid white;
            }

        }

    }

}



.hero-container {
    

    &__image {
        @include image-style(100%);
        height: 11.5rem;
        object-fit: cover;
    }

    &__text {
        @include font-style(1.5rem, 2rem);
        position: absolute;
        top: 9rem;
        left: 1rem;
        width: 70%;
        color: white;
        font-family: 'AvenirBold';
    }
}

.main-article {
    display: flex;
    flex-flow: column wrap;
    
    color: $text-color2;

    &__title {
        @include font-style(1.5rem, 1.5rem);
        font-family: 'AvenirBold';
        margin: 1.6rem 0 1.2rem 1rem;
        text-transform: capitalize;

    }

    &__image--box {

        margin: 0 1rem;
    }

    &__image {
        @include image-style(100%);
        object-fit: cover;
        height: 9.1rem;
    }

    &__quote {
        @include font-style(0.9rem, 1.3rem);
        font-weight: bold;
        margin: 1.1rem 1rem 1.9rem 1rem;
    }

    &__preacher {
        margin: 0 1rem 2.5rem 1rem;
        font-weight: bold;
        font-size: 0.8rem;
    }
}


.stories {

    margin: 0 1rem;

    &__column__heading {

        @include font-style(0.9rem, 1.4rem);
        margin-bottom: 1.5rem;
        font-weight: bold;
    }

    &__column__content {

        @include font-style(0.75rem, 1.25rem);
        margin-bottom: 1.5rem;
    }
}


.gallery {

    display: flex;
    flex-flow: column wrap;
    background-color: #fafafa;

    &__heading {
        margin: 2rem 0 1.5rem 1rem;
        padding: 0;
        font-family: 'AvenirBold';
    }

    &__photos {
        margin: 0 1rem 2rem 1rem;

        img {
            @include image-style(100%);
            margin: 0.4rem 0;
        }

        img:first-child {
            margin-top: 0;
        }

        img:last-child {
            margin-bottom: 0;
        }
    }
}



.footer {
    background-color: $background-color;
    color: $text-color1;
    padding: 2.5rem 1rem 0.25rem 0.8rem;

    .footer-start {
        &__slogan {
            @include font-style(2rem, 3.1rem);
            font-family: 'AvenirBold';
            text-transform: capitalize;
        }

        &__logo {
            display: none;
        }

        &__media {
            display: flex;
            width: 40%;
            justify-content: space-between;
            padding: 1.9rem 0;
        }
    }

    .footer-center {

        &__contact1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 9rem;
            margin: 1rem 0 1.5rem 0;

            &--intro {
                @include font-style(.9rem, 1.25rem);
                font-family: 'AvenirBold';
                font-weight: bold;
            }

            &--address {
                @include font-style(0.75rem, 1.1rem);
                
            }

            &--email {
                @include font-style(0.75rem, 1.1rem);
            }
        }

        &__contact2, &__contact3 {
            @extend .footer-center__contact1;

            &--intro {
                @extend .footer-center__contact1--intro;
            }

            &--address {
                @extend .footer-center__contact1--address;
            }

            &--email {
                @extend .footer-center__contact1--email;
            }
        }

    }

    .footer-end {
        @include font-style(0.75rem, 1.1rem);
        margin: 1rem 0 2rem 0;

    }
}