$background-color: #323232;
$text-color1: white;
$text-color2: #323232;

@font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'AvenirBold';
    src: url("../fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf") format("opentype");
}

@mixin font-style($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
    @content
}

img {
    width: 100%;
}


* {
    margin: 0;
    font-family: 'Avenir';
}

.main-header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $background-color;
    color: $text-color1;
    height: 5rem;

    .nav-bar {

        width: 100%;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            list-style-type: none;
            padding-left: 0;
            color: $text-color1;

            li {
                @include font-style(13px, 18px);
                color: $text-color1;
                width: 100%;
                text-align: center;
            }

            li:hover {
                border-bottom: 2px solid white;
            }

        }

    }

}



.hero-container {
    

    &__image {
        height: 183px;
        object-fit: cover;
    }

    &__text {
        @include font-style(1.2rem, 32px);
        position: absolute;
        top: 9rem;
        left: 1rem;
        width: 60%;
        color: white;
        font-family: 'AvenirBold';
    }
}

.main-article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: $text-color2;

    &__title {
        @include font-style(1rem, bold);
    }

    &__image--box {
        width: 90%;
        height: 170px;

        img{
            object-fit: cover;
        }
    }
}










.gallery {

    display: flex;
    flex-flow: column wrap;
    background-color: #fafafa;

    &__heading {
        margin: 32px 0px 24px 16px;
        padding: 0;
        font-family: 'AvenirBold';
    }

    &__photos {
        margin: 0 16px 32px 16px;

        img {
            margin: 6px 0;
        }

        img:first-child {
            margin-top: 0;
        }

        img:last-child {
            margin-bottom: 0;
        }
    }
}



.footer {
    background-color: $background-color;
    color: $text-color1;
}